* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

header {
    background: #A72800;
}

footer {
    background: #A72800;
}

[class*="_limit"] {
    max-width: 1302px;
    margin: 0 auto;
}

@media (max-width: 1199.98px) {
    [class*="_limit"] {
        max-width: 970px;
    }
}

@media (max-width: 990.98px) {
    [class*="_limit"] {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    [class*="_limit"] {
        max-width: none;
        padding: 0px 15px;
    }
}

.header {
    background: #A72800;
    height: 500px;
    z-index: 2;
    margin: 0 auto;
}

.main {
    width: 100%;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 334px;
}

.header-top {
    height: 220px;
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.header-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.param-wrapper {
    display: flex;
    flex-direction: column;
}

.header-picture {
    z-index: 1;
    position: relative;
}

.avatar {
    border-radius: 50%;
}

.text {
    width: 90%;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.4px;
}

.numbers {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 1.12px;
    text-transform: uppercase;
}

.header-text {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: capitalize;
}

.brand-logo {
    width: 340px;
    height: 243px;
    position: relative;
    z-index: 2;
}

.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.brand-name-wrapper {
    margin-bottom: 55px;
}

.main-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlighted-text {
    width: 100%;
    height: auto;
    background: #D9D9D9;
    color: #000;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 145.8%;
    letter-spacing: 0.36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.content-text {
    width: 100%;
    text-align: justify;
}

.content-text p {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 145.8%;
    letter-spacing: 0.48px;
    padding-top: 24px;
}

.main-content-elements {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block {
    height: auto;
    padding: 35px;
    background: #D9D9D9;
    margin: 44px 0px;
}

.block h3 {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 145.8%;
    letter-spacing: 0.48px;

}

.block ul li {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.8%;
    letter-spacing: 0.48px;
}

.block ul {
    padding-left: 20px;

}

.footer {
    height: 16px;
}